<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.constitutionofindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Amendments"></activity>
        <activity android:name="com.example.schedule.Schedule12" />
        <activity android:name="com.example.schedule.Schedule11" />
        <activity android:name="com.example.schedule.Schedule10" />
        <activity android:name="com.example.schedule.Schedule09" />
        <activity android:name="com.example.schedule.Schedule08" />
        <activity android:name="com.example.schedule.Schedule07" />
        <activity android:name="com.example.schedule.Schedule06" />
        <activity android:name="com.example.schedule.Schedule05" />
        <activity android:name="com.example.schedule.Schedule04" />
        <activity android:name="com.example.schedule.Schedule03" />
        <activity android:name="com.example.schedule.Schedule02" />
        <activity android:name="com.example.schedule.Schedule01" />
        <activity android:name=".Schedule" />
        <activity android:name=".Preamble" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>