<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.constitutionofindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.amendments.Amendment50"></activity>
        <activity android:name="com.example.amendments.Amendment49" />
        <activity android:name="com.example.amendments.Amendment48" />
        <activity android:name="com.example.amendments.Amendment47" />
        <activity android:name="com.example.amendments.Amendment46" />
        <activity android:name="com.example.amendments.Amendment45" />
        <activity android:name="com.example.amendments.Amendment44" />
        <activity android:name="com.example.amendments.Amendment43" />
        <activity android:name="com.example.amendments.Amendment42" />
        <activity android:name="com.example.amendments.Amendment41" />
        <activity android:name="com.example.amendments.Amendment40" />
        <activity android:name="com.example.amendments.Amendment39" />
        <activity android:name="com.example.amendments.Amendment38" />
        <activity android:name="com.example.amendments.Amendment37" />
        <activity android:name="com.example.amendments.Amendment36" />
        <activity android:name="com.example.amendments.Amendment35" />
        <activity android:name="com.example.amendments.Amendment34" />
        <activity android:name="com.example.amendments.Amendment33" />
        <activity android:name="com.example.amendments.Amendment32" />
        <activity android:name="com.example.amendments.Amendment31" />
        <activity android:name="com.example.amendments.Amendment30" />
        <activity android:name="com.example.amendments.Amendment29" />
        <activity android:name="com.example.amendments.Amendment28" />
        <activity android:name="com.example.amendments.Amendment27" />
        <activity android:name="com.example.amendments.Amendment26" />
        <activity android:name="com.example.amendments.Amendment25" />
        <activity android:name="com.example.amendments.Amendment24" />
        <activity android:name="com.example.amendments.Amendment23" />
        <activity android:name="com.example.amendments.Amendment22" />
        <activity android:name="com.example.amendments.Amendment21" />
        <activity android:name="com.example.amendments.Amendment20" />
        <activity android:name="com.example.amendments.Amendment19" />
        <activity android:name="com.example.amendments.Amendment18" />
        <activity android:name="com.example.amendments.Amendment17" />
        <activity android:name="com.example.amendments.Amendment16" />
        <activity android:name="com.example.amendments.Amendment15" />
        <activity android:name="com.example.amendments.Amendment14" />
        <activity android:name="com.example.amendments.Amendment13" />
        <activity android:name="com.example.amendments.Amendment12" />
        <activity android:name="com.example.amendments.Amendment11" />
        <activity android:name="com.example.amendments.Amendment10" />
        <activity android:name="com.example.amendments.Amendment09" />
        <activity android:name="com.example.amendments.Amendment08" />
        <activity android:name="com.example.amendments.Amendment07" />
        <activity android:name="com.example.amendments.Amendment06" />
        <activity android:name="com.example.amendments.Amendment05" />
        <activity android:name="com.example.amendments.Amendment04" />
        <activity android:name="com.example.amendments.Amendment03" />
        <activity android:name="com.example.amendments.Amendment02" />
        <activity android:name="com.example.amendments.Amendment01" />
        <activity android:name=".Amendments" />
        <activity android:name="com.example.schedule.Schedule12" />
        <activity android:name="com.example.schedule.Schedule11" />
        <activity android:name="com.example.schedule.Schedule10" />
        <activity android:name="com.example.schedule.Schedule09" />
        <activity android:name="com.example.schedule.Schedule08" />
        <activity android:name="com.example.schedule.Schedule07" />
        <activity android:name="com.example.schedule.Schedule06" />
        <activity android:name="com.example.schedule.Schedule05" />
        <activity android:name="com.example.schedule.Schedule04" />
        <activity android:name="com.example.schedule.Schedule03" />
        <activity android:name="com.example.schedule.Schedule02" />
        <activity android:name="com.example.schedule.Schedule01" />
        <activity android:name=".Schedule" />
        <activity android:name=".Preamble" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>