<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.constitutionofindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.parts.XXII"></activity>
        <activity android:name="com.example.parts.XXI" />
        <activity android:name="com.example.parts.XX" />
        <activity android:name="com.example.parts.XIX" />
        <activity android:name="com.example.parts.XVIII" />
        <activity android:name="com.example.parts.XVII" />
        <activity android:name="com.example.parts.XVI" />
        <activity android:name="com.example.parts.XV" />
        <activity android:name="com.example.parts.XIVA" />
        <activity android:name="com.example.parts.XIV" />
        <activity android:name="com.example.parts.XIII" />
        <activity android:name="com.example.parts.XII" />
        <activity android:name="com.example.parts.XI" />
        <activity android:name="com.example.parts.IXB" />
        <activity android:name="com.example.parts.IXA" />
        <activity android:name="com.example.parts.X" />
        <activity android:name="com.example.parts.IX" />
        <activity android:name="com.example.parts.VIII" />
        <activity android:name="com.example.parts.VII" />
        <activity android:name="com.example.parts.VI" />
        <activity android:name="com.example.parts.V" />
        <activity android:name="com.example.parts.IVA" />
        <activity android:name="com.example.parts.IV" />
        <activity android:name="com.example.parts.III" />
        <activity android:name="com.example.parts.II" />
        <activity android:name="com.example.parts.I" />
        <activity android:name=".Parts" />
        <activity android:name="com.example.amendments.Amendment100" />
        <activity android:name="com.example.amendments.Amendment99" />
        <activity android:name="com.example.amendments.Amendment98" />
        <activity android:name="com.example.amendments.Amendment97" />
        <activity android:name="com.example.amendments.Amendment96" />
        <activity android:name="com.example.amendments.Amendment95" />
        <activity android:name="com.example.amendments.Amendment94" />
        <activity android:name="com.example.amendments.Amendment93" />
        <activity android:name="com.example.amendments.Amendment92" />
        <activity android:name="com.example.amendments.Amendment91" />
        <activity android:name="com.example.amendments.Amendment90" />
        <activity android:name="com.example.amendments.Amendment89" />
        <activity android:name="com.example.amendments.Amendment88" />
        <activity android:name="com.example.amendments.Amendment87" />
        <activity android:name="com.example.amendments.Amendment86" />
        <activity android:name="com.example.amendments.Amendment85" />
        <activity android:name="com.example.amendments.Amendment84" />
        <activity android:name="com.example.amendments.Amendment83" />
        <activity android:name="com.example.amendments.Amendment82" />
        <activity android:name="com.example.amendments.Amendment81" />
        <activity android:name="com.example.amendments.Amendment80" />
        <activity android:name="com.example.amendments.Amendment79" />
        <activity android:name="com.example.amendments.Amendment78" />
        <activity android:name="com.example.amendments.Amendment77" />
        <activity android:name="com.example.amendments.Amendment76" />
        <activity android:name="com.example.amendments.Amendment75" />
        <activity android:name="com.example.amendments.Amendment74" />
        <activity android:name="com.example.amendments.Amendment73" />
        <activity android:name="com.example.amendments.Amendment72" />
        <activity android:name="com.example.amendments.Amendment71" />
        <activity android:name="com.example.amendments.Amendment70" />
        <activity android:name="com.example.amendments.Amendment69" />
        <activity android:name="com.example.amendments.Amendment68" />
        <activity android:name="com.example.amendments.Amendment67" />
        <activity android:name="com.example.amendments.Amendment66" />
        <activity android:name="com.example.amendments.Amendment65" />
        <activity android:name="com.example.amendments.Amendment64" />
        <activity android:name="com.example.amendments.Amendment63" />
        <activity android:name="com.example.amendments.Amendment62" />
        <activity android:name="com.example.amendments.Amendment61" />
        <activity android:name="com.example.amendments.Amendment60" />
        <activity android:name="com.example.amendments.Amendment59" />
        <activity android:name="com.example.amendments.Amendment58" />
        <activity android:name="com.example.amendments.Amendment57" />
        <activity android:name="com.example.amendments.Amendment56" />
        <activity android:name="com.example.amendments.Amendment55" />
        <activity android:name="com.example.amendments.Amendment54" />
        <activity android:name="com.example.amendments.Amendment53" />
        <activity android:name="com.example.amendments.Amendment52" />
        <activity android:name="com.example.amendments.Amendment51" />
        <activity android:name="com.example.amendments.Amendment50" />
        <activity android:name="com.example.amendments.Amendment49" />
        <activity android:name="com.example.amendments.Amendment48" />
        <activity android:name="com.example.amendments.Amendment47" />
        <activity android:name="com.example.amendments.Amendment46" />
        <activity android:name="com.example.amendments.Amendment45" />
        <activity android:name="com.example.amendments.Amendment44" />
        <activity android:name="com.example.amendments.Amendment43" />
        <activity android:name="com.example.amendments.Amendment42" />
        <activity android:name="com.example.amendments.Amendment41" />
        <activity android:name="com.example.amendments.Amendment40" />
        <activity android:name="com.example.amendments.Amendment39" />
        <activity android:name="com.example.amendments.Amendment38" />
        <activity android:name="com.example.amendments.Amendment37" />
        <activity android:name="com.example.amendments.Amendment36" />
        <activity android:name="com.example.amendments.Amendment35" />
        <activity android:name="com.example.amendments.Amendment34" />
        <activity android:name="com.example.amendments.Amendment33" />
        <activity android:name="com.example.amendments.Amendment32" />
        <activity android:name="com.example.amendments.Amendment31" />
        <activity android:name="com.example.amendments.Amendment30" />
        <activity android:name="com.example.amendments.Amendment29" />
        <activity android:name="com.example.amendments.Amendment28" />
        <activity android:name="com.example.amendments.Amendment27" />
        <activity android:name="com.example.amendments.Amendment26" />
        <activity android:name="com.example.amendments.Amendment25" />
        <activity android:name="com.example.amendments.Amendment24" />
        <activity android:name="com.example.amendments.Amendment23" />
        <activity android:name="com.example.amendments.Amendment22" />
        <activity android:name="com.example.amendments.Amendment21" />
        <activity android:name="com.example.amendments.Amendment20" />
        <activity android:name="com.example.amendments.Amendment19" />
        <activity android:name="com.example.amendments.Amendment18" />
        <activity android:name="com.example.amendments.Amendment17" />
        <activity android:name="com.example.amendments.Amendment16" />
        <activity android:name="com.example.amendments.Amendment15" />
        <activity android:name="com.example.amendments.Amendment14" />
        <activity android:name="com.example.amendments.Amendment13" />
        <activity android:name="com.example.amendments.Amendment12" />
        <activity android:name="com.example.amendments.Amendment11" />
        <activity android:name="com.example.amendments.Amendment10" />
        <activity android:name="com.example.amendments.Amendment09" />
        <activity android:name="com.example.amendments.Amendment08" />
        <activity android:name="com.example.amendments.Amendment07" />
        <activity android:name="com.example.amendments.Amendment06" />
        <activity android:name="com.example.amendments.Amendment05" />
        <activity android:name="com.example.amendments.Amendment04" />
        <activity android:name="com.example.amendments.Amendment03" />
        <activity android:name="com.example.amendments.Amendment02" />
        <activity android:name="com.example.amendments.Amendment01" />
        <activity android:name=".Amendments" />
        <activity android:name="com.example.schedule.Schedule12" />
        <activity android:name="com.example.schedule.Schedule11" />
        <activity android:name="com.example.schedule.Schedule10" />
        <activity android:name="com.example.schedule.Schedule09" />
        <activity android:name="com.example.schedule.Schedule08" />
        <activity android:name="com.example.schedule.Schedule07" />
        <activity android:name="com.example.schedule.Schedule06" />
        <activity android:name="com.example.schedule.Schedule05" />
        <activity android:name="com.example.schedule.Schedule04" />
        <activity android:name="com.example.schedule.Schedule03" />
        <activity android:name="com.example.schedule.Schedule02" />
        <activity android:name="com.example.schedule.Schedule01" />
        <activity android:name=".Schedule" />
        <activity android:name=".Preamble" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>